.idea/
.ipynb_checkpoints/
esd/*
venv/*
asdd/*
/asdd/*
batch.py
*.pyc
*/*/*.pyc
*/*/*/__pycache__
.idea/*
*.pyc
*.py[cod]
*.jpg
*.jpeg
*.png
*.pdf
*.tif
*.JPG
*.JPEG
*.PNG
kycdocumentreader/migrations/*.csv
kycdocumentreader/services/*.csv
kycdocumentreader/utils/*.csv
kycdocumentreader/*.csv
*.PDF
*.TIF
_linux/*
.DS_Store
Saved_Model/*
logger.logs
db.sqlite3
media/*
/advertisement/resources/*
advertisement/resources/*
/healthdocumentreader/resources/*
/facematch/resources/*
/documentclassifier/resources/*
*/*/resources
*/*/*/resources

